<!DOCTYPE html>

<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
<!-- Required meta tags -->

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin panel</title>
</head>
<body>

<!-- Navbar -->

<nav class="navbar navbar-dark bg-dark">
    <div class="bg-dark text-white">
        <div sec:authorize="isAuthenticated()">
            <span sec:authentication="name"></span> with roles <span sec:authentication="principal.authorities"></span>
        </div>
    </div>
    <a class="nav-link" href="/logout">Logout</a>
</nav>

<br>

<!-- Side navbar -->

<div class="row">
    <div class="col-lg-1 col-md-1">
        <nav class="nav flex-column">
            <a class="nav-link active" href="/admin">Admin</a>
            <a class="nav-link" href="/user">User</a>
        </nav>
    </div>

<!-- Admin panel -->

    <div class="col-lg-11 col-md-11">
        <div class="container-fluid bg-light"><h2>Admin panel</h2>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Roles</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    <tr th:each="user : ${allUsers}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.name}"></td>
                        <td th:text="${user.surname}"></td>
                        <td th:text="${user.age}"></td>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.roles}"></td>

                        <!-- Edit button -->

                        <td>
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#editModal"
                                    th:data-target="${'#edituser'+user.id}">Edit
                            </button>

                            <div class="modal fade" th:id="${'edituser'+user.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <form th:action="@{admin/update/{id}(id=${user.id})}" th:method="PATCH"
                                      th:object="${user}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="editModalLabel">Edit User</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="id" class="font-weight-bold">ID:</label>
                                                    <input class="form-control" th:type="number" th:name="id" id="id"
                                                           th:value="${user.id}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="name" class="font-weight-bold">First Name:</label>
                                                    <input class="form-control" th:type="text" th:name="name" id="name"
                                                           th:value="${user.name}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="surname" class="font-weight-bold">Last Name:</label>
                                                    <input class="form-control" th:type="text" th:name="surname"
                                                           id="surname" th:value="${user.surname}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="age" class="font-weight-bold">Age:</label>
                                                    <input class="form-control" th:type="number" th:name="age" id="age"
                                                           th:value="${user.age}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="username" class="font-weight-bold">Username:</label>
                                                    <input class="form-control" th:type="text" th:name="username"
                                                           id="username" th:value="${user.username}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="email" class="font-weight-bold">E-mail:</label>
                                                    <input class="form-control" th:type="text" th:name="email"
                                                           id="email" th:value="${user.email}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="password" class="font-weight-bold">Password:</label>
                                                    <input class="form-control" th:type="text" th:name="password"
                                                           id="password" th:value="${user.password}">
                                                </div>

                                                <div class="form-group">
                                                    <label for="roles" class="font-weight-bold">Role</label>
                                                    <select multiple class="custom-select" size="2" id="roles"
                                                            name="roles">
                                                        <option th:each="role : ${listRoles}" th:value="${role.id}">
                                                            <th:block th:text="${role.getName()}"></th:block>
                                                        </option>
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>

                        <!-- Delete button -->

                        <td>
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
                                    th:data-target="${'#deleteuser'+user.id}">Delete
                            </button>

                            <div class="modal fade" th:id="${'deleteuser'+user.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <form th:action="@{admin/delete/{id}(id=${user.id})}" th:method="DELETE"
                                      th:object="${user}">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="delModalLabel">Delete User</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="form-group">
                                                    <label for="delId" class="font-weight-bold">ID:</label>
                                                    <input class="form-control" th:type="number" th:name="id" id="delId"
                                                           th:value="${user.id}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="delName" class="font-weight-bold">First Name:</label>
                                                    <input class="form-control" th:type="text" th:name="name"
                                                           id="delName" th:value="${user.name}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="delSurname" class="font-weight-bold">Last Name:</label>
                                                    <input class="form-control" th:type="text" th:name="name"
                                                           id="delSurname" th:value="${user.surname}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="delAge" class="font-weight-bold">Age:</label>
                                                    <input class="form-control" th:type="number" th:name="name"
                                                           id="delAge" th:value="${user.age}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="delUsername" class="font-weight-bold">Username:</label>
                                                    <input class="form-control" th:type="text" th:name="name"
                                                           id="delUsername" th:value="${user.username}" readonly>
                                                </div>

                                                <div class="form-group">
                                                    <label for="delEmail" class="font-weight-bold">E-mail:</label>
                                                    <input class="form-control" th:type="text" th:name="name"
                                                           id="delEmail" th:value="${user.email}" readonly>
                                                </div>


                                                <div class="form-group">
                                                    <label for="delRolesUser" class="font-weight-bold">Role</label>
                                                    <input class="form-control" th:type="text" id="delRolesUser"
                                                           th:name="name" th:value="${user.roles}" readonly>
                                                    </select>
                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </form>

        <!-- Add button -->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">Add user</button>

        <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <form th:action="@{/admin}" method="POST">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="form-group">
                                <label for="addName" class="col-form-label">First Name:</label>
                                <textarea class="form-control" id="addName" name="name"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="addSurname" class="col-form-label">Last Name:</label>
                                <textarea class="form-control" id="addSurname" name="surname"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="addAge" class="col-form-label">Age:</label>
                                <textarea class="form-control" id="addAge" name="age"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="addUsername" class="col-form-label">Username:</label>
                                <textarea class="form-control" id="addUsername" name="username"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="addEmail" class="col-form-label">E-mail:</label>
                                <textarea class="form-control" id="addEmail" name="email"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="addPassword" class="col-form-label">Password:</label>
                                <textarea class="form-control" id="addPassword" name="password"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="rolesUser" class="font-weight-bold">Role</label>
                                <select multiple class="custom-select" size="2" id="rolesUser" name="roles">
                                    <option th:each="role : ${listRoles}" th:value="${role.id}">
                                        <th:block th:text="${role.getName()}"></th:block>
                                    </option>
                                </select>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>