<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"></html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User info</title>
</head>
<body>
<h2>Информация о пользователе</h2>

<form th:action="@{/admin}" th:object="${user}" th:method="POST">
  <input type="hidden" th:field="*{id}" id="id" readonly="readonly">
  <label for="username">Введите имя пользователя:</label>
  <input type="text" th:field="*{username}" id="username">
  <br>
  <br>
  <label for="password">Введите пароль:</label>
  <input type="text" th:field="*{password}" id="password">
  <br>
  <br>
  <label for="email">Введите E-mail:</label>
  <input type="text" th:field="*{email}" id="email">
  <br>
  <br>
  <label>Выберите роли: </label>
      <th:block th:each="role: ${listRoles}">
        <input type="checkbox" th:field="*{roles}"
               th:text="${role.name}" th:value="${role.id}" class="m-2" />
      </th:block>
  <br>
  <br>
  <input type="submit" value="Сохранить">
</form>

</body>
</html>